<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title | Aplikasi Sekolah</title>
    <!-- base:css -->
    <link rel="stylesheet" href="~/Template/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/Template/vendors/base/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/Template/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/Template/images/favicon.png" />
</head>
<body>
    <div class="container-scroller">
        @RenderBody()
    </div>
    <!-- container-scroller -->
    <!-- base:js -->
    <script src="~/Template/vendors/base/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="~/Template/js/template.js"></script>
    <!-- endinject -->
    <!-- plugin js for this page -->
    <!-- End plugin js for this page -->
    <script src="~/Template/vendors/chart.js/Chart.min.js"></script>
    <script src="~/Template/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="~/Template/vendors/chartjs-plugin-datalabels/chartjs-plugin-datalabels.js"></script>
    <script src="~/Template/vendors/justgage/raphael-2.1.4.min.js"></script>
    <script src="~/Template/vendors/justgage/justgage.js"></script>
    <!-- Custom js for this page-->
    <script src="~/Template/js/dashboard.js"></script>
    <!-- End custom js for this page-->
</body>
</html>

